In [1]:
import pandas as pd

In [2]:
!pip install openpyxl

Requirement already satisfied: openpyxl in d:\user\github\conda\lib\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in d:\user\github\conda\lib\site-packages (from openpyxl) (1.1.0)

In [3]:
df= pd.read_excel('googleplaystore.xlsx')

D:\User\github\conda\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [4]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [5]:
df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [6]:
df['Rating']

0        4.1
1        3.9
2        4.7
3        4.5
4        4.3
        ...
10836    4.5
10837    5.0
10838    NaN
10839    4.5
10840    4.5
Name: Rating, Length: 10841, dtype: float64

In [7]:
df=df.dropna()

In [8]:
df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

# finding Average Of the rating

In [9]:
float(str(int(sum(df['Rating']))/len(df))[:4])#this is average rating

4.19

# How many apps are there with rating '5'?

In [10]:
count=0
for i in df['Rating']:
    if i==5.0:
        count+=1
print(count)

274

# How many apps are there with rating 4 to 4.5?

In [11]:
count=0
for i in df['Rating']:
    if i >=4.0 and i<=4.5:
        count+=1
print("There are ",count , " of apps with rating between 4.0 to 4.5")

There are  5446  of apps with rating between 4.0 to 4.5

# Average app review

In [12]:
a=0
for i in df['Reviews']:
    s=int(i)
    a+=s
print("The average app reviews are",int(a/len(df['Reviews'])))

The average app reviews are 514376

# Total no of categories

In [20]:
print("This is the total number of Categories : ",len(df.Category))

This is the total number of Categories :  9360

In [18]:
for i in df['Category'].unique():
    print(i)

ART_AND_DESIGN
AUTO_AND_VEHICLES
BEAUTY
BOOKS_AND_REFERENCE
BUSINESS
COMICS
COMMUNICATION
DATING
EDUCATION
ENTERTAINMENT
EVENTS
FINANCE
FOOD_AND_DRINK
HEALTH_AND_FITNESS
HOUSE_AND_HOME
LIBRARIES_AND_DEMO
LIFESTYLE
GAME
FAMILY
MEDICAL
SOCIAL
SHOPPING
PHOTOGRAPHY
SPORTS
TRAVEL_AND_LOCAL
TOOLS
PERSONALIZATION
PRODUCTIVITY
PARENTING
WEATHER
VIDEO_PLAYERS
NEWS_AND_MAGAZINES
MAPS_AND_NAVIGATION

# Total apps in art and design

In [21]:
c=0
for i in df['Category']:
    if i == 'ART_AND_DESIGN':
        c+=1
print("This are the total entry with perticular categories: ", c)

This are the total entry with perticular categories:  61

In [24]:
df['Type'].unique()

array(['Free', 'Paid'], dtype=object)

# Total type of app paid of free with there percentile

In [44]:
c=0
for i in df['Type']:
    if i == 'Free':
        c+=1
print('There are total no of',c, 'Free and ',len(df['Type'])-c,'Paid application')
print('And the ratio of free to Paid application is',float(str((c/len(df['Type']))*100)[:6]))

There are total no of 8715 Free and  645 Paid application
And the ratio of free to Paid application is 93.108

# Name all Content Rai=ting types

In [45]:
df['Content Rating'].unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated'], dtype=object)

# Total no of apps in each categories

In [50]:
categories={}
for name in df['Category'].unique():
    ct=0
    for i in df['Category']:
        if i ==name:
            ct+=1
    categories[name]=ct
    
categories

{'ART_AND_DESIGN': 61,
 'AUTO_AND_VEHICLES': 73,
 'BEAUTY': 42,
 'BOOKS_AND_REFERENCE': 178,
 'BUSINESS': 303,
 'COMICS': 58,
 'COMMUNICATION': 328,
 'DATING': 195,
 'EDUCATION': 155,
 'ENTERTAINMENT': 149,
 'EVENTS': 45,
 'FINANCE': 323,
 'FOOD_AND_DRINK': 109,
 'HEALTH_AND_FITNESS': 297,
 'HOUSE_AND_HOME': 76,
 'LIBRARIES_AND_DEMO': 64,
 'LIFESTYLE': 314,
 'GAME': 1097,
 'FAMILY': 1746,
 'MEDICAL': 350,
 'SOCIAL': 259,
 'SHOPPING': 238,
 'PHOTOGRAPHY': 317,
 'SPORTS': 319,
 'TRAVEL_AND_LOCAL': 226,
 'TOOLS': 733,
 'PERSONALIZATION': 312,
 'PRODUCTIVITY': 351,
 'PARENTING': 50,
 'WEATHER': 75,
 'VIDEO_PLAYERS': 160,
 'NEWS_AND_MAGAZINES': 233,
 'MAPS_AND_NAVIGATION': 124}

In [54]:
df['Type'].describe()

count     9360
unique       2
top       Free
freq      8715
Name: Type, dtype: object