In [2]:
import pandas as pd
import numpy as np

In [3]:
lst=[1,2,3,4,5]

In [4]:
np.array(lst)

array([1, 2, 3, 4, 5])

In [7]:
pd.Series([lst,lst,lst])

0    [1, 2, 3, 4, 5]
1    [1, 2, 3, 4, 5]
2    [1, 2, 3, 4, 5]
dtype: object

In [15]:
df=pd.DataFrame([lst,lst,lst,lst,lst,lst,lst,lst,lst],columns=('a','b','c','d','e'))

In [16]:
df

   a  b  c  d  e
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5
3  1  2  3  4  5
4  1  2  3  4  5
5  1  2  3  4  5
6  1  2  3  4  5
7  1  2  3  4  5
8  1  2  3  4  5

In [17]:
del df#for deleting the data frame

In [18]:
df

NameError: name 'df' is not defined

In [ ]:
pd.array()